.page {
  font-family: var(--font-family);
  font-weight: 400;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.title-medium,
.title-light {
  font-family: var(--second-family);
  font-weight: 900;
}

.title-medium {
  font-size: 46px;
  line-height: 103%;
}

.title-light {
  font-size: 30px;
}

@media (width > 768px) {
  .title-medium {
    font-size: 46px;
  }

  .title-light {
    font-size: 30px;
  }
}

@media (width <= 768px) {
  .title-medium {
    font-size: 30px;
  }

  .title-light {
    font-size: 24px;
  }
}
