:root {
  /* fonts */
  --font-family: "Open Sans", sans-serif;
  --second-family: "NAMU", sans-serif;

  /* colors */
  --main-color: #111;
  --second-color: #fff;
  --accent-color: #c5358c;
  --bg-color: #dddddd;

  /* box-shadows */
  --box-shadow: 0 4px 41px 0 #0000000d;

  /* transition */
  --transition-time: 0.2s;

  /* container */
  --container-width: 1360px;
  --container-padding: 20px;
}
