.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu__link {
  font-family: var(--second-family);
  font-weight: 900;
  color: var(--second-color);
  font-size: 20px;
  transition: color var(--transition-time);
}

@media (width > 1240px) {
  .menu__link {
    font-size: 20px;
  }
}

@media (width <= 1240px) {
  .menu__link {
    font-size: 14px;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--accent-color);
  }
}
